.header__toggle {
    width: 40px;
    height: 34px;
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: 0.3s;
    display: none;

    & span {
        content: "";
        width: 28px;
        height: 4px;
        background-color: $brown;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        transition: inherit;

        &::before,
        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
            background-color: $brown;
            transition: inherit;
        }

        &::before {
            width: 40px;
            top: -15px;
            transform-origin: right top;
        }

        &::after {
            width: 35px;
            top: 15px;
            transform-origin: right bottom;
        }
    }

    &:hover span {
        width: 50px;
        background-color: darken($brown, 10%);

        &::before {
            width: 30px;
            background-color: darken($brown, 10%);
        }

        &::after {
            width: 40px;
            background-color: darken($brown, 10%);
        }
    }

    &._open span {
        width: 0;

        &::before {
            width: 44px;
            transform: rotate(-45deg);
        }

        &::after {
            width: 44px;
            transform: rotate(45deg);
        }
    }

    @include adaptive(800) {
        display: block;
    }
}
