@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-300.woff2") format("woff2"), url("../fonts/GothamPro-300.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  outline: none;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  font-family: "DIN Pro", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: black;
}

body._overflow {
  overflow: hidden;
}

.gm-style-pbt {
  text-align: center;
  /* Google Map center fix */
}

header {
  flex-shrink: 0;
  /* IE fix */
}

main {
  flex-shrink: 0;
  /* IE fix */
}

body > div {
  flex-shrink: 0;
  /* IE fix */
}

footer {
  flex-shrink: 0;
  /* IE fix */
  margin-top: auto;
}

img {
  max-width: 100%;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}
